

div.form{
  padding: 200px 400px;
  background-color: #eee;
  margin: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

div.form button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div.form p {
  font-size: 20px;
  font-weight: 2000;
  text-align: center;
}

div.form input{
  text-align: center;
  width: 100%;
}
