body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: black;
}

.clickbar {
  vertical-align: middle;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  font-family: Consolas;
  color: mediumaquamarine;
  font-size: 80px;
  margin-top: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hours, .minutes, .seconds {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-right: 5px;
}

.day, .date {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

p {
  font-size: 30px;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: inline;
}
