/*kommentaar*/
body{

    background-image: url("bgdark.jpg"); 
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color: white;
    background-color: blue;


}
h3 {
    margin: right;
}
