body {background-color:#666;}

#div1 {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align:left;
  width: 40%;
  margin: 20px auto;
  color:#fff;
  border: 3px solid white;
  padding: 10px;
}
